<h1>Om EADM</h1>
<p>
    En af de Mange, (Forkortet til EADM i 2024), er en gruppe bestående af 9 drenge og startede d. xx.xx.2018.
 <br/>
    Gruppens medlemmer er (i alfabetisk rækkefølge): Albert, Emil, Joachim, Jonas, Julius, Matias, Nikolai, Sebastian & Theodor.
 <br/>
    Gruppen blev startet da medlemmerne blev inviteret til endnu en ølbowling, og blev navngivet "En af de mange" af Theodor, 
    da der på daværende tidspunkt eksisterede mange gruppechats. Navnet og chatten blev siddende, og gruppen og dets medlemmer har siden da
    deltaget i utallige bar-besøg, fester, ølbowlinger, sommerhusture og rejser sammen. 
    <br/>
    <br/>
    Drengene er ikke sky for at sige dumme ting dog, derfor kan du i nedenstående nyde et ikonisk citat der er blevet sagt af drengene:
    <br/>   
</p>
{{>quotes}}